body {
  background-color: #fff;
  background-image: url('footer_back.jpg');
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }

#banner {
	display: block;
	border: 0;
	background-image: url('nav_back5.png');
	height: 90px;
	width: auto;
	}
	
h1#banner-logo {
	width: 320px;
	height: 100px;
	margin: 0 auto;
	font-family: Helvetica, sans-serif;
	font-size: 74px;
	color: #57CAFF;
	line-height: 100px;
	text-indent: -9000px;
	background: url('datetracks_launch.png') top no-repeat;
	}
	
#nav {
	display: block;
	border-top: 2px;
	border-style: solid;
	border-color: #141414;
	background-color: #2D2D2D;
	background: url('datetracks_back2.jpg') top no-repeat;
	height: 600px;
	width: auto;
	}
	
#media-block {
	display: block;
	border-top: 2px;
	border-style: solid;
	border-color: #141414;
	background-color: #414042;
	background-image: url('nav_back6.png');
	height: 100px;
	width: auto;
	}
		
h2	{
	margin-top: 20px;
	text-align: center;
	color: #333;
	font-family: helvetica-neue, sans-serif;
	font-size: 28px;
	font-weight: 100;
	color: #FFFFFF;
	line-height: 30px;
	}
	
footer {
	border-top: 2px;
	border-style: solid;
	border-color: #141414;
	background-image: url('footer_back.jpg');
	height: 200px;
	
	ul#social {
	width: 210px;
	margin: 0 auto;
	}
	
	a { background: url(social_sprite.png);
	margin: 20px 10px 10px 10px;
	text-indent: -9000px;
	width: 50px;
	height: 50px;
	float: left;
	}}
		
	
	a#codeacademy {background-position: 0 0;}
	a:hover#codeacademy {background-position: 0 -50px;}
	a#builtinchicago {background-position: 50px 0;}
	a:hover#builtinchicago {background-position: 50px -50px;}
	a#twitter {background-position: 100px 0;}
	a:hover#twitter {background-position: 100px -50px;}
	
	#corp_id {
	text-align: center;}
	
	