<!DOCTYPE html>
<html>
<head>
  <title>Lovelaunchapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  	<div id="banner">
    	<h1 id="banner-logo">DateTracks</h1>
  	</div>
  	<div id="nav">
    	<!-- <p>Horizontal will go here eventually</p> -->

  	</div>
  
  	<div id="media-block">
    	<h2>Why look for awesome people when you can listen? <br /> 
			Private beta coming soon.</h2> 
  	</div>

  	<footer>
		<ul id="social">
			<li>
		 		<a id="codeacademy" href="http://www.codeacademy.org/">Code Academy</a>
		 	</li>
		 	<li>
		 		<a id="twitter" href="http://www.builtinchicago.org/">Built In Chicago</a>
		 	</li>
		 	<li>
		 		<a id="builtinchicago" href="https://twitter.com/#!/datetracks">Twitter</a>
		 	</li>
		</ul>
		
		<p id="corp_id">2012, DateTracks, LLC</p>
	</footer>
</body>
</html>
